@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NunitoSans-Medium";
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr;
    grid-template-areas:
    "header"
    "main";
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.header{
    background: var(--color-black);
    padding: 3%;
    grid-area: header;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle__menu i{
    font-size: 2em;
    color: var(--color-white);
}
.toggle__menu i:hover{
    cursor: pointer;
}
.header__title{
    font-size: 2em;
    font-family: "Staatliches";
    color: var(--color-white);
    animation: blink 2s linear reverse infinite;
}

/* animacion para parpadear */

@keyframes blink {
    0%{
        text-shadow: 0px 0px 15px #FFFF;
    }
    20%{
        text-shadow: 0px 0px 10px #FFFF;
    }
    100%{
        text-shadow: 0px 0px 15px #FFFF;
    }
}

.header__carrito i{
    font-size: 2em;
    color: var(--color-white);
}
.header__nav{
    position: fixed;
}
.header__menu{
    position: fixed;
    list-style: none;
    top: 0;
    right: 0;
    left: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    transition: transform 0.3s;
    transform: translateY(-200%);
}
.header__menu__show{
    transform: translateY(0);
}
.menu__item{
    color: var(--color-white);
    font-family: "Staatliches";
}
.carrito__info{
    display: none;
}
.header__copy{
    display: none;
}

::-webkit-scrollbar{
    width: .7em;

}


main{
    height: 90vh;
    grid-area: main;
    padding: 3%;
}
main h2{
    margin: 5%;
}
.main__list{
    height: 80vh;
    overflow-y: scroll;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "producto1 producto2"
    "producto3 producto4"
    "producto5 producto6"
    "producto7 producto8"
    "producto9 producto10"
    "producto11 producto12"
    "producto13 producto14"
    "producto15 .";
    grid-gap: 20px;
}
.item__1{
    border-radius: 15px;
    grid-area: producto1;
    transition: all 0.3s;
}
.item__1:active{
    overflow: hidden;
    transform: rotate(5deg);
    box-shadow:  0px 0px 20px rgb(255, 178, 105);
}
.item__2{
    grid-area: producto2;
}
.item__3{
    grid-area: producto3;
}
.item__4{
    grid-area: producto4;
}
.item__5{
    grid-area: producto5;
}
.item__6{
    grid-area: producto6;
}
.item__7{
    grid-area: producto7;
}
.item__8{
    grid-area: producto8;
}
.item__9{
    grid-area: producto9;
}
.item__10{
    grid-area: producto10;
}
.item__11{
    grid-area: producto11;
}
.item__12{
    grid-area: producto12;
}
.item__13{
    grid-area: producto13;
}
.item__14{
    grid-area: producto14;
}
.item__15{
    grid-area: producto15;
}
.item__img{
    width: 100%;
}
.item__img img{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.item__info{
    margin-top: -6px;
    background: var(--color-black);
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.item__info p{
    color: var(--color-white);
    font-size: .8em;
}
.info__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.info__div button{
    position: absolute;
    right: 0;
    background: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 3% 5% 3%;

    transition: all .2s;
}
.info__div button:active{
    padding: 1% 2% 1%;
    transform: rotate(-5deg);
    background: rgb(255, 178, 105);
    color: #FFFF;
}
.info__div a{
    color: var(--color-black);
    font-size: .6em;
    font-family: "NunitoSans-Bold";
    
}

@media screen and (min-width: 760px) {
    
}