@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins-Medium";
}
::-webkit-scrollbar{
    width: 0;

}
body{
    width: 100vw;
    background: var(--color-background);
}
a:hover{
    cursor: pointer;
}
.header{
    width: 100vw;
    position: sticky;
    background: var(--color-background);
    padding: 3%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title{
    color: var(--color-orange);
}
.toggle__menu i{
    font-size: 2em;
    color: var(--color-white);
}
.main__nav{
    position: absolute;
    transition: transform 0.3s;
    transform: translateY(-200%);
    top: 10vh;
    right: 0;
    left: 0;
    height: 50vh;
    z-index: 10;
}
.main__menu{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: var(--color-menu);
    
}
.main__nav--show{
    display: block;
    position: absolute;
    transform: translateY(0);
}
.menu__link{
    color: var(--color-white);
    text-decoration: none;
}


/*.nav__links{
    background: var(--color-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 50vh;
    
}

.menu__list{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-100%);
}
.nav__list__show{
    transform: translateY(0);
}
.header__nav li{
    height: 100%;
    list-style: none;
}
.nav__link{
    text-decoration: none;
    color: var(--color-white);
}*/

/*AQUI EMPIEZA LA PRIMERA SECTION*/
.home{
    padding: 5%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: 
    "info"
    "image";
}
.home__info{
    /*outline: 1px solid red;*/
    /*background: green;*/
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.home__title{
    font-size: 3em;
    color: var(--color-orange);
    text-align: center;
}
.home__paragraph{
    text-align: center;
    color: var(--color-white);
}
.home__button{
    margin: 3%;
    padding: 2% 5%;
    border: none;
    background: var(--color-orange);
}
.home__button h3{
    color: var(--color-white);
}

.home__image{
    /*outline: 1px solid red;*/
    padding: 5%;
    /*background: blue;*/
    grid-area: image;

}
.home__image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/*AQUI EMPIEZA LA SEGUNDA SECTION*/

.about{
    padding: 5%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: 
    "info"
    "image";
}
.about__info{
    /*background: green;*/
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.about__head{
    color: var(--color-orange);
}
.about__title{
    font-size: 1.5em;
}
.about__title,
.about__paragraph{
    text-align: center;
    color: var(--color-white);
}
.about__paragraph{
    line-height: 1.2em;
}
.about__button{
    margin: 3%;
    padding: 2% 5%;
    border: none;
    background: var(--color-orange);
}
.about__button h3{
    color: var(--color-white);
}
.about__image{
    /*outline: 1px solid red;*/
    /*background: blue;*/
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/*AQUI EMPIEZA LA TERCERA SECTION*/
.menu{
    height: 180vh;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "titles"
    "cards";
}
.menu__titles{
    /*background: red;*/
    grid-area: titles;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.menu__head{
    color: var(--color-orange);
}
.menu__title{
    text-align: center;
    width: 80%;
    font-size: 1.5em;
    color: var(--color-white);
}
.menu__cards{
    /*background: blue;*/
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "card__1"
    "card__2"
    "card__3";
    grid-gap: 1%;
    justify-items: center;
}
.menu__cards > div:nth-child(1){
    /*background: white;*/
    grid-area: card__1;
}
.menu__cards > div:nth-child(2){
    /*background: green;*/
    grid-area: card__2;
}
.menu__cards > div:nth-child(3){
    /*background: yellow;*/
    grid-area: card__3;
}
.menu__card{
    z-index: -1;
    background: var(--color-cream);
    position: relative;
    align-self: center;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu__card > i{
    background: var(--color-orange);
    margin: 2%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
}
.card__image{
    /*background: blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__image img{
    width: 60%;
    object-fit: cover;
    object-position: center;
}
.card__info > h3{
    text-align: center;
    font-family: "Poppins-Light";
}
.card__info > p{
    text-align: center;
    font-family: "Poppins-Regular";
}
.card__info p:last-child{
    color: var(--color-orange);
}


/*AQUI EMPIEZA LA CUARTA SECTION*/
.service{
    height: 180vh;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "titles"
    "cards";
}
.service__titles{
    /*background: red;*/
    grid-area: titles;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.service__head{
    color: var(--color-orange);
}
.service__title{
    text-align: center;
    width: 70%;
    font-size: 1.5em;
    color: var(--color-white);
}
.service__cards{
    /*background: blue;*/
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "card__1"
    "card__2"
    "card__3";
    grid-gap: 1%;
    justify-items: center;
}
.service__cards > div:nth-child(1){
    /*background: white;*/
    grid-area: card__1;
}
.service__cards > div:nth-child(2){
    /*background: green;*/
    grid-area: card__2;
}
.service__cards > div:nth-child(3){
    /*background: yellow;*/
    grid-area: card__3;
}
.service__card{
    z-index: -1;
    position: relative;
    align-self: center;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service__card > i{
    background: var(--color-orange);
    margin: 2%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
}
.service__image{
    /*background: blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.service__image img{
    width: 60%;
    object-fit: cover;
    object-position: center;
}
.service__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.service__info >h3{
    color: var(--color-orange);
}
.service__info > p{
    margin-top: 8%;
    text-align: center;
    color: var(--color-white);
    line-height: 1.2em;
}


/*AQUI EMPIEZA LA QUINTA SECTION*/
.contact{
    /*outline: 1px solid red;*/
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__div{
    /*outline: 1px solid red;*/
    background: var(--color-cream);
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact__title{
    font-size: 1.5em;
    text-align: center;
    font-family: "Poppins-Regular";
}
.contact__button{
    width: 120px;
    border: none;
    height: 30px;
    background: var(--color-orange);
}
.contact__button p{
    color: var(--color-white);
    font-family: "Poppins-Regular";
}
.footer{
    padding: 5% 15%;
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1.7fr) 1.5fr 1fr;
    grid-template-areas: 
    "menu__Links"
    "servive"
    "information"
    "contact";
}
.footer__menu{
    /*background: blue;*/
    grid-area: menu__Links;
}
.footer__servive{
    /*background: red;*/
    grid-area: servive;
}
.footer__information{
    /*background: green;*/
    grid-area: information;
}
.footer__contact{
    /*background: yellow;*/
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__circles{
    display: flex;
}
.footer__circles i{
    font-size: 2em;
    color: var(--color-white);
}
.footer h2{
    margin-bottom: 5%;
    color: var(--color-white);
}
.footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer a{
    font-size: 1.3em;
    color: var(--color-white);
    text-decoration: none;
}
/*@media screen and (min-width: 600px){
    .header{
        width: 100vw;
        padding: 3%;
        display: flex;
        justify-content: space-between;
    
    }
    .header__nav{
        display: flex;
        align-items: center;
        outline: 1px solid black;
    }
    .header__nav > ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        outline: 1px solid black;
    }
    .header__nav li{

        display: flex;
    }
    .header__nav a{
        text-decoration: none;
    }
    .nav__target{
        display: none;
    }
}*/
@media screen and (min-width:760px) {
    body{
        font-size: 20px;
    }
    .main__nav{
        width: 50%;
        position: static;
        position: static;
        transform: translateY(0);
        height: auto;
        
        
    }
    .main__menu{
        background: none;
        flex-direction: row;
 
    }
    .toggle__menu{
        display: none;
    }

    /*SECTION1*/
    .home{
        padding: 0 5%;
        height: 90vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "info image";
    }
    .home__info{
        padding-left: 10%;
        align-self: center;
        height: 60%;
        align-items: start;
    }
    .home__title{
        font-size: 4em;
        text-align: start;
    }
    .home__paragraph{
        text-align: start;
    }
    .home__button{
        margin: 3% 0;
    }
    .home__image{
        display: flex;
        justify-content: center;
    }
    .home__image img{
        width: 90%;
        align-self: center;
    }
    .about{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "image info";
    }
    .about__info{
        padding-left: 10%;
        align-self: center;
        height: 70%;
        align-items: start;
    }
    .about__head{
        text-align: start;
    }
    .about__title{
        font-size: 2em;
        text-align: start;
    }
    .about__paragraph{
        text-align: start;
    }
    .about__button{
        margin: 3% 0;
    }
    .about__image{
        display: flex;
        justify-content: center;
    }
    .about__image img{
        width: 90%;
        align-self: center;
    }
    .menu{
        height: 100vh;
    }
    .menu__title,
    .service__title{
        width: 100%;
        font-size: 3em;
    }
    .menu__cards{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "card__1 card__2 card__3";
        grid-gap: none;
    }
    .service{
        height: 100vh;
    }
    .service__cards{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "card__1 card__2 card__3";
    }
    .contact{
        height: 80vh;
    }
    .contact__div{
        height: 80%;
    }
    .contact__title{
        font-size: 2em;
    }
    .contact__button{
        width: 180px;
        height: 50px;
    }
    .contact__button p{
        font-size: 1.5em;
    }
    .footer{
        height: 50vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "menu__Links servive information contact";
    }
    .footer a{
        font-size: 1em;
    }
}
@media screen and (max-height: 600px) {
    body{
        font-size: 10px;
    }
}
