<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/abrigos.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="header">
        <div class="toggle__menu" id="toggle__menu">
            <i class='bx bx-menu' id="rayas"></i>
        </div>
        <h2 class="header__title">CampusShop</h2>
        <nav class="header__nav" id="header__nav">
            <ul class="header__menu" id="header__menu">
                <li><a href="../index.html" class="menu__item" id="link__1"><i class='bx bxs-star'></i>Todos los productos</a></li>
                <li><a href="#" class="menu__item" id="link__2"><i class='bx bxs-star'></i>Abrigos</a></li>
                <li><a href="camisetas.html" class="menu__item" id="link__3"><i class='bx bxs-star'></i>Camisetas</a></li>
                <li><a href="pantalones.html" class="menu__item" id="link__4"><i class='bx bxs-star'></i>Pantalones</a></li>
            </ul>
        </nav>
        <div class="header__carrito">
            <a href="#"><i class='bx bxs-cart'></i></a>
            <div class="carrito__info">
                <a href="" class="carrito__title">Carrito</a>
                <p class="carrito__number">3</p>
            </div>
        </div>
        <div class="header__copy">
            <i class='bx bx-copyright'></i>
            <p>2023 Camper</p>
        </div>
    </div>
    <script src="../js/main.js"></script>
    <main>
        <h2>Abrigos</h2>
        <div class="abrigos__main__list">
            <div class="abrigos__item__1">
                <div class="item__img">
                    <img src="../storage/img/black-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 01</p>
                    <div class="info__div">
                        <p>$2.000</p>
                        <button><a href="#">Agregar</a></button>
                    </div>
                </div>
            </div>
            <div class="abrigos__item__2">
                <div class="item__img">
                    <img src="../storage/img/brown-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 02</p>
                    <div class="info__div">
                        <p>$2.000</p>
                        <button><a href="#">Agregar</a></button>
                    </div>
                </div>
            </div>
            <div class="abrigos__item__3">
                <div class="item__img">
                    <img src="../storage/img/black-wash-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 03</p>
                    <div class="info__div">
                        <p>$2.000</p>
                        <button><a href="#">Agregar</a></button>
                    </div>
                </div>
            </div>
            <div class="abrigos__item__4">
                <div class="item__img">
                    <img src="../storage/img/green-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 04</p>
                    <div class="info__div">
                        <p>$2.000</p>
                        <button><a href="#">Agregar</a></button>
                    </div>
                </div>
            </div>
            <div class="abrigos__item__5">
                <div class="item__img">
                    <img src="../storage/img/off-white-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 05</p>
                    <div class="info__div">
                        <p>$2.000</p>
                        <button><a href="#">Agregar</a></button>
                    </div>
                </div>
            </div>
            
            
        </div>
    </main>
</body>
</html>