<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/carrito.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="header">
        <div class="toggle__menu" id="toggle__menu">
            <i class='bx bx-menu' id="rayas"></i>
        </div>
        <h2 class="header__title">CampusShop</h2>
        <nav class="header__nav" id="header__nav">
            <ul class="header__menu" id="header__menu">
                <li><a href="../index.html" class="menu__item" id="link__1"><i class='bx bxs-star'></i>Todos los productos</a></li>
                <li><a href="../views/abrigos.html" class="menu__item" id="link__2"><i class='bx bxs-star'></i>Abrigos</a></li>
                <li><a href="../views/camisetas.html" class="menu__item" id="link__3"><i class='bx bxs-star'></i>Camisetas</a></li>
                <li><a href="../views/pantalones.html" class="menu__item" id="link__4"><i class='bx bxs-star'></i>Pantalones</a></li>
            </ul>
        </nav>
        <div class="header__carrito">
            <a href="#"><i class='bx bxs-cart'></i></a>
            <div class="carrito__info">
                <a href="" class="carrito__title">Carrito</a>
                <p class="carrito__number">3</p>
            </div>
        </div>
        <div class="header__copy">
            <i class='bx bx-copyright'></i>
            <p>2023 Camper</p>
        </div>
    </div>
    <script src="../js/main.js"></script>
    <main>
        <h2>Carrito</h2>
        <div class="carrito__main__list">
            <div class="carrito__item__1">
                <div class="carrito__item__img">
                    <img src="../storage/img/black-abrigo.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Abrigo 01</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__2">
                <div class="carrito__item__img">
                    <img src="../storage/img/brown-abrigo.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Abrigo 02</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__3">
                <div class="carrito__item__img">
                    <img src="../storage/img/plum-prefect-camiseta.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Camiseta 01</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__4">
                <div class="carrito__item__img">
                    <img src="../storage/img/coconut-milk-camiseta.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Camiseta 02</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__5">
                <div class="carrito__item__img">
                    <img src="../storage/img/purple-wash-pantalon.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Pantalon 01</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__6">
                <div class="carrito__item__img">
                    <img src="../storage/img/black-wash-pantalon.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Pantalon 02</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__7">
                <div class="carrito__item__img">
                    <img src="../storage/img/black-wash-abrigo.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Abrigo 03</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__8">
                <div class="carrito__item__img">
                    <img src="../storage/img/green-abrigo.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Abrigo 04</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__9">
                <div class="carrito__item__img">
                    <img src="../storage/img/black-camiseta.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Camiseta 03</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__10">
                <div class="carrito__item__img">
                    <img src="../storage/img/black-wash-camiseta.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Camiseta 04</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__11">
                <div class="carrito__item__img">
                    <img src="../storage/img/brown-pantalon.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Pantalon 03</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__12">
                <div class="carrito__item__img">
                    <img src="../storage/img/light-blue-pantalon.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Pantalon 04</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__13">
                <div class="carrito__item__img">
                    <img src="../storage/img/off-white-abrigo.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Abrigo 05</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__14">
                <div class="carrito__item__img">
                    <img src="../storage/img/off-white-camiseta.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Camiseta 05</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
            <div class="carrito__item__15">
                <div class="carrito__item__img">
                    <img src="../storage/img/off-white-pantalon.webp" alt="">
                </div>
                <div class="carrito__item__info">
                    <div class="item__info__one">
                        <p>Nombre</p>
                        <p>Pantalon 05</p>
                    </div>
                    <div class="item__info__two">
                        <p>Cantidad</p>
                        <p>2</p>
                    </div>
                    <div class="item__info__three">
                        <p>Precio</p>
                        <p>$2.000</p>
                    </div>
                    <div class="item__info__four">
                        <p>Subtotal</p>
                        <p>$2.000</p>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </div>
            </div>
        </div>
        <div class="carrito__main__footer">
            <button class="button__vaciar"><p>Vaciar Carrito</p></button>
            <div class="main__footer__div">
                <div class="total">
                    <p>Total</p>
                    <p>$8.500</p>
                </div>
                <button class="button__comprar"><p>Comprar Ahora</p></button>
            </div>
        </div>
    </main>
</body>
</html>