<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/pantalones.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="header">
        <div class="toggle__menu" id="toggle__menu">
            <i class='bx bx-menu' id="rayas"></i>
        </div>
        <h2 class="header__title">CampusShop</h2>
        <nav class="header__nav" id="header__nav">
            <ul class="header__menu" id="header__menu">
                <li><a href="../index.html" class="menu__item" id="link__1"><i class='bx bxs-star'></i>Todos los productos</a></li>
                <li><a href="abrigos.html" class="menu__item" id="link__2"><i class='bx bxs-star'></i>Abrigos</a></li>
                <li><a href="camisetas.html" class="menu__item" id="link__3"><i class='bx bxs-star'></i>Camisetas</a></li>
                <li><a href="#" class="menu__item" id="link__4"><i class='bx bxs-star'></i>Pantalones</a></li>
            </ul>
        </nav>
        <div class="header__carrito">
            <a href="carrito.html"><i class='bx bxs-cart'></i></a>
            <div class="carrito__info">
                <a href="carrito.html" class="carrito__title">Carrito</a>
                <button class="carrito__number" id="contador">0</button>
            </div>
        </div>
        <div class="header__copy">
            <i class='bx bx-copyright'></i>
            <p>2023 Juan</p>
        </div>
    </div>
    
    <main id="main">
        <h2>Pantalones</h2>
        <div class="pantalones__main__list">
            <div class="pantalones__item__1">
                <div class="item__img">
                    <img src="../storage/img/purple-wash-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 01</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="pantalones__item__2">
                <div class="item__img">
                    <img src="../storage/img/black-wash-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 02</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="pantalones__item__3">
                <div class="item__img">
                    <img src="../storage/img/brown-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 03</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="pantalones__item__4">
                <div class="item__img">
                    <img src="../storage/img/light-blue-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 04</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="pantalones__item__5">
                <div class="item__img">
                    <img src="../storage/img/off-white-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 05</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../js/main.js"></script>
</body>