<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{{url_for("static", filename="css/style.css")}}'>
</head>
<body>
    <div class="header">
        <div class="toggle__menu" id="toggle__menu">
            <i class='bx bx-menu' id="rayas"></i>
        </div>
        <h2 class="header__title">CampusShop</h2>
        <nav class="header__nav" id="header__nav">
            <ul class="header__menu" id="header__menu">
                <li><a href="#" class="menu__item" id="link__1"><i class='bx bxs-star'></i>Todos los productos</a></li>
                <li><a href="views/abrigos" class="menu__item" id="link__2"><i class='bx bxs-star'></i>Abrigos</a></li>
                <li><a href="views/camisetas" class="menu__item" id="link__3"><i class='bx bxs-star'></i>Camisetas</a></li>
                <li><a href="views/pantalones" class="menu__item" id="link__4"><i class='bx bxs-star'></i>Pantalones</a></li>
            </ul>
        </nav>
        <div class="header__carrito">
            <a href="views/carrito"><i class='bx bxs-cart'></i></a>
            <div class="carrito__info">
                <a href="views/carrito" class="carrito__title">Carrito</a>
                <button class="carrito__number" id="contador">0</button>
            </div>
        </div>
        <div class="header__copy">
            <i class='bx bx-copyright'></i>
            <p>2023 Juan</p>
        </div>
    </div>
    
    <main id="main">
        <h2>Todos los productos</h2>
        <div class="main__list">
            <div class="item__1">
                <div class="item__img">
                    <img src="storage/img/black-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 01</p>
                    <div class="info__div">
                        <p>$150.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__2">
                <div class="item__img">
                    <img src="storage/img/brown-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 02</p>
                    <div class="info__div">
                        <p>$150.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__3">
                <div class="item__img">
                    <img src="storage/img/plum-prefect-camiseta.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Camiseta 01</p>
                    <div class="info__div">
                        <p>$90.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__4">
                <div class="item__img">
                    <img src="storage/img/coconut-milk-camiseta.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Camiseta 02</p>
                    <div class="info__div">
                        <p>$90.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__5">
                <div class="item__img">
                    <img src="storage/img/purple-wash-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 01</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__6">
                <div class="item__img">
                    <img src="storage/img/black-wash-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 02</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__7">
                <div class="item__img">
                    <img src="storage/img/black-wash-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 03</p>
                    <div class="info__div">
                        <p>$150.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__8">
                <div class="item__img">
                    <img src="storage/img/green-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 04</p>
                    <div class="info__div">
                        <p>$150.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__9">
                <div class="item__img">
                    <img src="storage/img/black-camiseta.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Camiseta 03</p>
                    <div class="info__div">
                        <p>$90.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__10">
                <div class="item__img">
                    <img src="storage/img/black-wash-camiseta.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Camiseta 04</p>
                    <div class="info__div">
                        <p>$90.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__11">
                <div class="item__img">
                    <img src="storage/img/brown-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 03</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__12">
                <div class="item__img">
                    <img src="storage/img/light-blue-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 04</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__13">
                <div class="item__img">
                    <img src="storage/img/off-white-abrigo.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Abrigo 05</p>
                    <div class="info__div">
                        <p>$150.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__14">
                <div class="item__img">
                    <img src="storage/img/off-white-camiseta.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Camiseta 05</p>
                    <div class="info__div">
                        <p>$90.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
            <div class="item__15">
                <div class="item__img">
                    <img src="storage/img/off-white-pantalon.webp" alt="">
                </div>
                <div class="item__info">
                    <p>Pantalon 05</p>
                    <div class="info__div">
                        <p>$70.000</p>
                        <button class="button__agregar" onclick="contadorCarrito('contador')" >Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src='{{url_for("static", filename="js/main.js")}}'></script>
</body>
</html>